        body {
            background-color: #000000;
        }
        
        h4 {
            color: #bbc2ba;
        }
        
        p,
        ul {
            color: #bbc2ba;
        }